@use '../utils' as *;

/*----------------------------------------*/
/*  14. PORTFOILO CSS
/*----------------------------------------*/

.tpplatform {
    &__thumb {
        & img {
            border-radius: 6px;
        }
    }
    &__shape {
        position: absolute;
        right: 0px;
        bottom: -120px;
        & img {
            border-radius: 6px;
        }
    }
    &__title {
        color: var(--tp-text-body);
        font-size: 34px;
        font-weight: 700;
        @media #{$lg} {
            font-size: 28px;
        }
        @media #{$md} {
            font-size: 22px;
        }
        @media #{$xs,$sm} {
            font-size: 17px;
        }
    }
    &__content {
        margin-left: 70px;
        @media #{$lg,$xs} {
            margin-left: 0;
        }
        @media #{$md,$sm} {
            margin-left: 0;
            padding-top: 0;
        }
        & p {
            color: var(--tp-grey-8);
            font-size: 16px;
            margin-bottom: 20px;
            @media #{$xs,$sm} {
                font-size: 15px;
            }
        }
    }
    &__list {
        & ul {
            & li {
                list-style: none;
                position: relative;
                padding-left: 20px;
                font-size: 16px;
                font-weight: 500;
                color: #484950;
                margin-bottom: 10px;
                & span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    color: var(--tp-theme-2);
                }
            }
        }
    }
    &__nab {
        border: 1px solid var(--tp-border-2);
        border-radius: 50px;
        display: inline-block;
        & .nav-tabs {
            border: none;
            padding: 3px 3px;
            @media #{$xs} {
                display: block;
            }
        }
        & .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: var(--tp-common-white);
            background-color: var(--tp-theme-2);
            border-color: transparent;
        }
        & .nav-tabs .nav-link {
            margin-bottom: 0;
            border: none;
            border-radius: 50px;
            padding: 9px 50px;
            width: 225px;
            font-weight: 600;
            color: var(--tp-grey-11);
            @media #{$sm} {
                padding: 9px 25px;
                width: 165px;
            }
        }
    }
}

.tpportfolio {
    &__custom {
        &-info {
            background-color: var(--tp-theme-white);
            box-shadow: 0px 20px 60px 0px rgba(0, 0, 41, 0.1);
            border-radius: 20px;
            padding: 25px 60px 20px 60px;
            @media #{$xs} {
                padding: 25px 55px 20px 55px;
            }
        }  
        &-meta {
            padding: 10px 28px;
            @media #{$xl} {
                padding: 10px 20px;
            }
            @media #{$lg,$xs} {
                padding: 10px 0px;
            }
            & span {
                color: #969696;
                font-size: 16px;
                font-weight: 400;
                display: inline-block;
            }
        }
        &-title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    &__text {
        & p {
            color: var(--tp-common-7);
            line-height: 1.8;
            font-size: 16px;
            & span {
                background-color: var(--tp-common-white);
                padding: 7px 19px;
                color: var(--tp-theme-1);
                font-size: 20px;
                font-weight: 700;
                border-radius: 6px;
                float: left;
                box-shadow: 0px 20px 60px 0px rgba(0, 0, 41, 0.1); 
                margin-right: 15px;
            }
            & i {
                color: var(--tp-theme-1);
                font-style: normal;
            }
            & b {
                color: var(--tp-text-body);
                font-weight: 500;
            }
        }
    }
    &__single-img {
        & img {
            width: 100%;
            border-radius: 10px;
        }
    }
    &__services {
        & .tpservices__item {
            background-color: var(--tp-common-white);
            box-shadow: 0px 20px 60px 0px rgba(0, 0, 41, 0.1);
        }
    }
    &__social {
        @media #{$xs} {
            justify-content: start !important;
            margin-top: 15px;
        }
        & a {
            & i {
                @include square-bg(30px,  $circle: true);
                background-color: var(--tp-common-white);
                color: var(--tp-text-body);
                box-shadow: 5px 3px 13px 0px rgba(0, 0, 0, 0.15);
                display: block;
                margin-left: 12px;
                font-size: 12px;
                @media #{$xs} {
                    margin-left: 0px;
                    margin-right: 12px;
                }
                &:hover {
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-1);
                }
            }
        }
    }
    &__border-bottom {
        border-bottom: 1px solid var(--tp-border-2);
    }
}
