@use '../utils' as *;

/*----------------------------------------*/
/*  13. FAQ CSS
/*----------------------------------------*/


.tpfaq {
    &__bg {
        position: relative;
        z-index: 1;
    }
    &__content {
        & p {
            font-size: 18px;
            font-weight: 400;
            color: var(--tp-grey-8);
            margin-bottom: 40px;
        }
    }
    &__title {
        font-size: 34px;
        color: var(--tp-text-body);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    &__shape {
        &-one {
            & img {
                position: absolute;
                bottom: 70px;
                right: -64px;
                z-index: -1;
                animation: soft-move-y 2s infinite linear;
                @media #{$xl,$lg,$md} {
                    right: 0;
                }
            }
        }
        &-two {
            & img {
                position: absolute;
                top: 45px;
                right: -30px;
                z-index: -1;
                animation: soft-move 2s infinite linear;
            }
        }
    }
    &__img {
        position: relative;
        z-index: 9;
        display: inline-block;
        &:hover {
            &::before {
                transform: none;
            }
        }
        &::before {
            position: absolute;
            content: "";
            background: rgba($color: #fff, $alpha: 0.2);
            border-radius: 20px;
            transform: rotate(8.95deg);
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include transition(.3s);
            @media #{$xs} {
                transform: rotate(0deg);
            }
        }
        & img {
            border-radius: 20px;
        }
    }
    &__accordion-two {
        &.tp-accordion .accordion-button:not(.collapsed) {
            box-shadow: none;
            color: var(--tp-text-1);
            padding: 20px 55px 20px 30px;
        }
        &.tpfaq__wrapper .accordion-button::after {
            color: var(--tp-text-1);
        }
    }
    &__wrapper-two {
        @media #{$xl,$lg,$md,$xs,$sm} {
            padding-left: 0;
        }
        &.tpsection__content-two p {
            color: var(--tp-common-white);
        }
    }
    &__wrapper {
        @media #{$md,$xs,$sm} {
            padding-right: 0;
        }
    }
}

.tpform {
    &__wrapper-two {
        box-shadow: 0px 30px 50px 0px rgba(0, 0, 41, 0.08);
        border-radius: 10px;
        padding: 60px 50px;
        background-color: var(--tp-common-white);
        @media #{$xs} {
            padding: 60px 15px;
        }
        & p {
            color: var(--tp-grey-8);
            font-size: 14px;
            margin-bottom: 35px;
            & br {
                @media #{$lg,$xs} {
                    display: none;
                }
            }
        }
    }
    &__title {
        color: var(--tp-text-1);
        font-size: 24px;
        font-weight: 600;
    }
    &__name,
    &__mail {
        & input {
            width: 100%;
            height: 50px;
            background-color: var(--tp-grey-9);
            border: 1px solid #f3f4f8;
            border-radius: 25px;
            padding: 5px 50px;
            color: var(--tp-text-1);
            @include tp-placeholder{
                color: var(--tp-grey-5);
            }
            &:focus {
                border-color: var(--tp-theme-1);
                outline: none;
            }
        }
        & span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
            color: var(--tp-grey-5);
        }
    }
    &__message {
        & textarea {
            width: 100%;
            height: 130px;
            background-color: var(--tp-grey-9);
            border: 1px solid #f3f4f8;
            border-radius: 20px;
            resize: none;
            padding: 15px 15px 15px 50px;
            &:focus {
                border-color: var(--tp-theme-1);
                outline: none;
            }
            &::placeholder {
                color: var(--tp-grey-5);
            }
        }
        & span {
            position: absolute;
            top: 16px;
            left: 25px;
            color: var(--tp-grey-5);
        }
    }
    &__submit {
        & .tp-btn {
            width: 100%;
            border-radius: 30px;
        }
    }
}