$colors: (
    common: (
        white: #ffffff,
        black: #000,
        3: #fe6d6e,
        4: #ffb21c,
        5: #f04037,
        6: #2d4ca0,
        7: #646374,
        8: #4747d0,
        9: #071021,
        10: #f5f5f5,
    ),
    heading: (
        primary: #000,
    ),
    grey: (
        1:#f0f0f2,
        2:#45474b,
        3: #c6c8cd,
        4: #4e515b,
        5: #8c8d94,
        6: #686777,
        7: #c1c8da,
        8: #5d5e64,
        9: #f1f1f2,
        10: #f6f6f6,
        11: #3d3f47,
        12: #f4f4f4,
    ),
    text: (
        body:#0b132a,
        1: #081225,
    ),
    theme: (
        1: #ff365d,
        2: #444cf7,

    ),
    border: (
        1: #e3e3e6,
        2: #ebebed,
        3: #b4bac3,
    )
);
